{
  "display": {
    "includeBuiltins": false
  },
  "layout": {
    "height": 24
  },
  "keybindings": {
    "toggle": "ctrl+shift+/",
    "scrollUp": "ctrl+shift+up",
    "scrollDown": "ctrl+shift+down",
    "scrollPageUp": null,
    "scrollPageDown": null
  }
}
