{
  "enabled": true,
  "minDurationSeconds": 10,
  "sound": "silent",
  "showPopup": false,
  "interactiveOnly": true,
  "sounds": [
    {
      "alias": "silent"
    },
    {
      "alias": "random"
    },
    {
      "alias": "Funk",
      "path": "/System/Library/Sounds/Funk.aiff"
    },
    {
      "alias": "Glass",
      "path": "/System/Library/Sounds/Glass.aiff"
    },
    {
      "alias": "Hero",
      "path": "/System/Library/Sounds/Hero.aiff"
    },
    {
      "alias": "Submarine",
      "path": "/System/Library/Sounds/Submarine.aiff"
    },
    {
      "alias": "dubdelay1",
      "path": "/Users/yourUser/Documents/notification_sounds/dubdelay1.mp3"
    },
    {
      "alias": "dubdelay2",
      "path": "/Users/yourUser/Documents/notification_sounds/dubdelay2.mp3"
    },
    {
      "alias": "liquid",
      "path": "/Users/yourUser/Documents/notification_sounds/liquid-notif.mp3"
    }
  ],
  "volume": {
    "mode": "timeScaled",
    "max": 1,
    "min": 0.1
  },
  "pushover": {
    "enabled": true,
    "userKey": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "apiToken": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
  }
}